<script>
  $( function() {
    $( "#upload_picture_start_date" ).datepicker({
    	dateFormat: "yy-mm-dd"
    });
  } );
</script>
<div class="container">
  <div class="upload-pic min-height">
    <div class="upload-title">Picture Preview</div>
    <div style="text-align: center;"><img src='<%= "/system/images/#{@upload_picture.image_file_name}"%>' /></div>
  </div>
	<div class="upload-files">
		<%= form_for(@upload_picture) do |f| %>
			Start Date: <%= f.text_field :start_date, :readonly => 'readonly' %>&nbsp;&nbsp;
			Description: <%= f.text_field :description %>
			<span style='float: right;'>
			  <%= f.submit 'Save' %>  |
			  <%= link_to 'Back', root_url %>
			</span>
		<% end %>
  </div>
</div>
