<div class="container">
	<p id="notice"><%= notice %></p>
	<div class="upload-files">
		<%= link_to 'Upload Picture', new_upload_picture_path %>
		<span style='float: right;'><%= link_to 'Back', root_url %><span>
	</div>
	<div style="padding: 25px;" id='pictures_div'>
		<table>
  		<thead>
    		<tr>
      		<th>Picture</th>
      		<th>Start Date</th>
      		<th>Description</th>
      		<th>Actions</th>
    		</tr>
  		</thead>
  		<tbody>
    		<% @upload_pictures.each do |upload_picture| %>
					<tr is="picture-tr" src='<%= "/system/images/#{upload_picture.image_file_name}"%>' start_date="<%= upload_picture.start_date %>" description="<%= upload_picture.description %>" show_url="<%= upload_picture_path(upload_picture) %>" edit_url="<%= edit_upload_picture_path(upload_picture) %>" destroy_url="<%= upload_picture_path(upload_picture) %>"></tr>
    		<% end %>
  		</tbody>
		</table>
	</div>
</div>
<script type="text/javascript">
  Vue.component('picture-tr', {
    props: ['src', 'start_date', 'description', 'show_url', 'edit_url', 'destroy_url'],
    template: `
			<tr>
				<td><div style="text-align: center;" class="list-pic"><img :src="src" /></div></td>
    		<td>{{ start_date }}</td>
				<td>{{ description }}</td>
    		<td>
					<a :href="show_url">Show</a>
					<a :href="edit_url">Edit</a>
					<a data-confirm="Are you sure?" rel="nofollow" data-method="delete" :href="destroy_url">Destroy</a>
    			</td>
			</tr>
		`
  });
  new Vue({el: "#pictures_div"});
</script>
