<script>
  $( function() {
    $( "#upload_picture_start_date" ).datepicker({
    	dateFormat: "yy-mm-dd"
    });
  } );
</script>
<%= form_for(@upload_picture,:html => { :multipart => true }) do |f| %>
	<% message = 'Picture should be in jpg / png / gif format' %>
	<% error_message = '' %>
  <% @upload_picture.errors.full_messages.each do |msg|
  	error_message += "#{msg}<br />"
  end %>
  <div class="container">
    <div class="upload-pic min-height">
      <div class="upload-title">Picture Preview</div>
      <div class="message-span"><span><%=raw error_message.blank? ? message : error_message %></span></div>
    </div>
		<div class="upload-files">
			File: <%= f.file_field :image %>
			Start Date: <%= f.text_field :start_date, :readonly => 'readonly' %>&nbsp;&nbsp;
			Description: <%= f.text_field :description %>
			<span style='float: right; padding: 10px;'>
			  <%= f.submit 'Upload' %> |
			  <%= link_to 'Back', root_url %>
			<span>
    </div>
  </div>
<% end %>
