<p id="notice"><%= notice %></p>

<div class="container">
  <div class="upload-pic min-height">
    <div class="upload-title">Picture Preview</div>
    <div style="text-align: center;"><img src='<%= "/system/images/#{@upload_picture.image_file_name}"%>' /></div>
  </div>
	<div class="upload-files">
		<%= "Start Date: #{@upload_picture.start_date}" unless @upload_picture.start_date.blank? %>&nbsp;&nbsp;
		<%= "Description: #{@upload_picture.description}" unless @upload_picture.description.blank? %>
		<span style='float: right;'>
		  <%= link_to 'Edit', edit_upload_picture_path(@upload_picture) %> |
		  <%= link_to 'Back', root_url %>
		</span>
  </div>
</div>
